<?xml version="1.0"?>
<!-- Create a fixed joint to connect the mesh to the rest of the robot-->
  
<robot
 xmlns:xacro="http://ros.org/wiki/xacro">

<!-- Sensors --> 
  <link name="sensors_link">
   <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
    <mesh filename="package://qut10_jackal/meshes/qut10sensors.dae" />
    </geometry> 
   </visual>
  </link>

  <joint name="sensors_to_mid_mount" type="fixed">
    <parent link="mid_mount" />
    <child link="sensors_link" />
    <origin xyz="-0.015 0 0.005"/>
  </joint>

<!-- VLP16 Link --> 
   <link name="velodyne"/>

  <joint name="velodyne_to_mount" type="fixed">
    <parent link="mid_mount" />
    <child link="velodyne" />
    <origin xyz="0.0701 0.00134 0.114"/>
  </joint>

<!-- Front Laser --> 
   <link name="front_laser"/>

  <joint name="laser_to_fmount" type="fixed">
    <parent link="front_mount" />
    <child link="front_laser" />
    <origin xyz="0 0 0"/>
  </joint>

<!-- Rear Laser --> 
   <link name="rear_laser"/>

  <joint name="laser_to_rmount" type="fixed">
    <parent link="rear_mount" />
    <child link="rear_laser" />
    <origin xyz="0 0 0"/>
  </joint>

</robot>



